/* Base Styles */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; /* Fixed font-family spelling */
  }
  
  .container-card {
    position: relative;
    width: 80%; /* Adjusted for better responsiveness */
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Fixed typo */
    padding: 30px;  
    background-color: #030d98;
    min-height: 500px;
    margin: 0 auto; /* Center horizontally */
  }
  
  .container-card .card {
    position: relative;
    width: 100%;
    max-width: 300px; /* Set a max-width for better responsiveness */
    height: 200px;
    background-color: #fff;
    padding: 20px 15px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
  }
  
  .container-card .card:hover {
    height: 450px;
  }
  
  .container-card .card .image {
    position: relative;
    width: 100%; /* Responsive width */
    max-width: 260px; /* Fixed size for larger screens */
    height: auto; /* Responsive height */
    top: -40%;
    left: 8px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .container-card .card .image img {
    width: 100%;
    height: auto; /* Ensure image maintains aspect ratio */
    border-radius: 15px;
  }
  
  .container-card .card .content {
    position: relative;
    top: -90px;
    padding:
    10px 15px;
    color: #111;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  
  .container-card .card:hover .content {
    margin-top: 60px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
  }
  
  .col-choose, .calltoaction {
    width: 50%;
    height: 350px;
    margin: 0 auto; /* Center horizontally */
  }
  
  .logo-footer {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
  
  .logo-socials {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  
  .testimonial-carousel {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .testimonials-wrapper {
    width: 95%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .testimonials-wrapper h4 {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    position: relative;
    padding: 30px;
    color: #000;
    border-radius: 5px;
    background: #fff;
    box-shadow: 5px 5px 5px 0 rgba(23, 23, 25, .3);
  }
  
  .testimonials-blob, .testimonials-img {
    border-radius: 100%;
  }
  
  .testimonials-img {
    position: relative;
    left: 50%;
    overflow: hidden !important;
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
    margin-left: -50px;
    box-shadow: 0 0 0 5px #171719;
    transition: all ease-out .5s;
    transform: translateY(-30%);
    filter: brightness(2);
  }
  
  .testimonial-carousel .active .testimonials-img {
    transform: translateY(0);
    filter: brightness(1);
  }
  
  .testimonials-person-info {
    text-align: center;
    color: #fff;
  }
  
  .testimonials-blob {
    position: relative;
    left: 80%;
    width: 3px;
    height: 3px;
    transform: rotate(45deg);
  }
  
  @keyframes anim {
    0% {
        opacity: 0;
        box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
    }
    50% {
        box-shadow: 0 15px 0 0 #fff, 0 0 0 0 #fff;
    }
    100% {
        opacity: 1;
        background: #fff;
        box-shadow: 0 15px 0 4px #fff, 0 35px 0 6px #fff;
    }
  }
  
  .testimonial-carousel .active .testimonials-blob {
    transform-origin: 50% 50%;
    animation: anim linear .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  .testimonial-carousel {
    overflow: hidden;
    cursor: grab;
  }
  
  .testimonial-carousel:active {
    cursor: grabbing;
  }
  
  .testimonial-carousel .owl-item {
    overflow: hidden;
    transition: all ease-out .3s;
    transform: scale(.7);
    opacity: 0;
  }
  
  .testimonial-carousel .owl-item.active {
    transform: scale(1);
    opacity: 1;
  }
  
  .testimonial-carousel .owl-next, .testimonial-carousel .owl-prev {
    font-size: 13px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    padding: 0 10px;
    transition: all ease-out .25s;
    transform: translateY(-100%);
    opacity: 1;
    color: #fff;
    border-radius: 3px;
    background: #171719;
  }
  
  .testimonial-carousel .owl-next:hover, .testimonial-carousel .owl-prev:hover {
    color: #fff;
    background: #615e6b;
  }
  
  .testimonial-carousel .owl-prev {
    left: 0;
  }
  
  .testimonial-carousel .owl-next {
    right: 0;
  }
  
  .testimonial-carousel .owl-next.disabled, .testimonial-carousel .owl-prev.disabled {
    opacity: 0;
  }
  
  /* Responsive Styles */
  
  /* Tablet Styles */
  @media (max-width: 768px) {
    .container-card {
        width: 90%;
        padding: 20px;
    }
  
    .container-card .card {
        width: 100%;
        max-width: none; /* Remove max-width for smaller screens */
        height: auto; /* Adjust height */
        margin-top: 20px;
    }
  
    .container-card .card .image {
        width: 200px;
        height: auto;
        left: 0; /* Adjust for center alignment */
    }
  
    .container-card .card .content {
        top: -60px;
    }
  
    .col-choose, .calltoaction {
        width: 70%;
        height: 300px;
    }
  
    .logo-footer {
        height: 80px;
        width: 80px;
    }
  
    .logo-socials {
        height: 25px;
        width: 25px;
    }
  
    .testimonials-wrapper h4 {
        font-size: 14px;
        padding: 20px;
    }
  
    .testimonials-img {
        width: 80px;
        height: 80px;
        margin-left: -40px;
    }
  }
  
  /* Smartphone Styles */
  @media (max-width: 480px) {
  
    .carousel-inner {
      position: relative;
      
      width: 100%;
      height: 50%;
      overflow: hidden;
  }
  
    .container-card {
        width: 95%;
        padding: 15px;
    }
  
    .container-card .card {
        width: 100%;
        height: auto; /* Adjust height */
        margin-top: 15px;
    }
  
    .container-card .card .image {
        width: 150px;
        height: auto;
        left: 0;
    }
  
    .container-card .card .content {
        top: -30px;
    }
  
    .col-choose, .calltoaction {
        width: 90%;
        height: 250px;
    }
  
    .logo-footer {
        height: 60px;
        width: 60px;
    }
  
    .logo-socials {
        height: 20px;
        width: 20px;
    }
  
    .testimonials-wrapper h4 {
        font-size: 13px;
        padding: 15px;
    }
  
    .testimonials-img {
        width: 60px;
        height: 60px;
        margin-left: -30px;
    }
  
  }
  /* Footer Styling */
  .footer {
    background-color: #1426ea;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-logo img {
    max-width: 150px;
    margin-bottom: 20px;
  }
  
  .footer-nav,
  .footer-services {
    margin-bottom: 20px;
  }
  
  .footer-nav h4,
  .footer-services h4 {
    margin: 0 0 10px;
  }
  
  .footer-nav ul,
  .footer-services ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-nav li,
  .footer-services li {
    margin: 5px 0;
  }
  
  .footer-nav a,
  .footer-services a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-nav a:hover,
  .footer-services a:hover {
    text-decoration: underline;
  }
  
  .footer-subscribe {
    margin-bottom: 20px;
  }
  
  .footer-subscribe h4 {
    margin: 0 0 10px;
  }
  
  .footer-subscribe form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .footer-subscribe input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 250px;
  }
  
  .footer-subscribe button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #060606;
    color: #fff;
    cursor: pointer;
  }
  
  .footer-subscribe button:hover {
    background-color: #65f50b;
  }
  
  .footer-social {
    margin-bottom: 20px;
  }
  
  .footer-social .social-icon {
    margin: 0 10px;
  }
  
  .footer-social img {
    max-width: 30px;
  }
  
  .footer-copyright {
    font-size: 14px;
    color: #bbb;
  }
  
  /* Responsive Styles */
  @media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }
  
    .footer-nav ul,
    .footer-services ul {
        align-items: flex-start;
    }
  
    .footer-subscribe {
        margin: 0;
    }
  }
  
  @media (max-width: 767px) {
    .footer-nav ul,
    .footer-services ul {
        align-items: center;
    }
  }
  
  /* Base styles for video wrapper and video */
  .video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Aspect Ratio 16:9 */
    height: 0; /* Remove default height */
    overflow: hidden;
    justify-content: center;
    justify-items: center;
  }
  
  .video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the container */
  }
  
  /* Optional: Responsive adjustments */
  @media (max-width: 992px) {
    /* Styles for tablets */
    .video-wrapper {
        padding-top: 56.25%; /* Maintain aspect ratio */
    }
  }
  
  @media (max-width: 768px) {
    /* Styles for mobile phones */
    .video-wrapper {
        padding-top: 56.25%; /* Maintain aspect ratio */
    }
  }